[submodule ".vim/pack/mypackage/start/ale"]
	path = .vim/pack/mypackage/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/mypackage/start/gtags.vim"]
	path = .vim/pack/mypackage/start/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim
[submodule ".vim/pack/mypackage/start/tcomment_vim"]
	path = .vim/pack/mypackage/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/pack/mypackage/start/nerdtree"]
	path = .vim/pack/mypackage/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/mypackage/start/gen_tags.vim"]
	path = .vim/pack/mypackage/start/gen_tags.vim
	url = https://github.com/jsfaint/gen_tags.vim
[submodule ".vim/pack/mypackage/start/vim-json"]
	path = .vim/pack/mypackage/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".vim/pack/mypackage/start/vim-fswitch"]
	path = .vim/pack/mypackage/start/vim-fswitch
	url = https://github.com/t-ubukata/vim-fswitch
[submodule ".vim/pack/mypackage/start/vim-bracketed-paste"]
	path = .vim/pack/mypackage/start/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/pack/mypackage/start/vim-gitgutter"]
	path = .vim/pack/mypackage/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/mypackage/start/vim-airline"]
	path = .vim/pack/mypackage/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/mypackage/start/vim-airline-themes"]
	path = .vim/pack/mypackage/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/mypackage/start/fzf"]
	path = .vim/pack/mypackage/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/mypackage/start/fzf.vim"]
	path = .vim/pack/mypackage/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
